<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.chen.finder" >

    <application
        android:name=".Myapplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        tools:replace="android:icon" >
        <activity
            android:name=".ui.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.Main_menu"
            android:label="@string/title_activity_main_menu" >
        </activity>
        <activity
            android:name=".home.views.HomePostPagerActivity"
            android:label="@string/title_activity_home_post_pager" >
        </activity>
        <activity
            android:name=".home.views.size_choose"
            android:label="@string/title_activity_size_choose" >
        </activity>
        <activity
            android:name=".ui.Comment_ui"
            android:label="@string/title_activity_comment_ui" >
        </activity>
        <activity
            android:name=".Setting.views.Myaccountui"
            android:label="@string/title_activity_myaccountui" >
        </activity>
        <activity
            android:name=".Setting.views.Changepasswordui"
            android:label="@string/title_activity_changepasswordui" >
        </activity>
    </application>

</manifest>
